*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    display: flex;
    justify-content: center;
    font-family: Arial, Verdana, Tahoma;
}

@font-face {
    font-family: "Nordic Bold";
    src: url(fonts/Norse-Bold.otf);
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
  
#root, #__next {
    isolation: isolate;
}

.page-container {
    width: 1000px;
    height: 700px;
    box-sizing: border-box;
    display: flex;
}

.image-container {
    width: 400px;
    height: 700px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.image-container > img {
    height: 100%;
    width: auto;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.image-caption-container {
    position: absolute;
    width: 400px;
    height: 100px;
    background-color: rgba(185, 176, 119, 0.57);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 300px;
}

.image-caption {
    color: white;
    font-family: "Nordic Bold", Luminari, Papyrus, Copperplate;
    font-size: 3rem;
}

.image-credit {
    position: absolute;
    bottom: 10px;
    left: 100px;
    color: white;
    font-size: 0.8rem;
}

.image-credit > a {
    color: #B9B077;
    text-decoration: none;    
}

.content-container {
    width: 600px;
    height: 700px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header-container {
    width: auto;
    height: 200px;
    background-color: rgba(89, 169, 139, 0.07);
    display: flex;
    position: relative;
}

.header-container > img {
    width: auto;
    height: 100px;
    position: relative;
    top: 100px;
}

.header-text-container {
    display: flex;
    flex-direction: column;
}

.header-text-1, .header-text-2 {
    position: relative;
    top: 120px;
    left: -10px;
    font-size: 1.6rem;
    font-family: "Nordic Bold", Luminari, Papyrus, Copperplate;
}

.form-container {
    width: auto;
    height: 300px;
}

input,
textarea,
select,
button {
  width: 230px;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  box-sizing: border-box;
  height: 32px;
  border: 2px solid;
  border-color: rgba(185, 176, 119, 0.27);
  border-radius: 6px;
  outline: none;
}

input[type="email"]:focus:invalid,
input[type="password"]:focus:invalid {
    border-color: red;
}

input:focus, select:focus {
    border-color: #b9b077;
    outline: none;
}

input:hover, select:hover {
    border-color: #B9B077;
}

input:valid:not(:placeholder-shown), select:valid {
    border-color: #59A98B;
}

input::placeholder {
    font-style: italic; 
    color: gray; 
    font-size: 0.8rem;
}

option[disabled] {
    font-style: italic;
}

fieldset {
    display: flex;
    gap: 50px;
    border: none;
    position: relative;
}

.form-group {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30px;
}

.footer-container {
    width: auto;
    height: 220px;
    background-color: rgba(89, 169, 139, 0.07);
    position: relative;
}

.footer-content {
    position: absolute;
    top: 20px;
    left: 30px;
}

.button {
    position: relative;
    background-color: #B9B077;
    border: none;
    border-radius: 6px;
    color: white;
    width: 150px;
    font-size: 1.2rem;
    font-weight: bold;
}

.log-in {
    position: relative;
    top: 16px;
}

.footer-content a {
    text-decoration: none;
    color: #B9B077;
    font-weight: bold;
}

